/*********** Quivira Phonetic *************/
@font-face {
  font-family: 'WuGD Phonetic';
  src: url('/assets/gd/fonts/Quivira.otf?v=1') format('opentype');
}

/**************** Arial *******************/
@font-face {
  font-family: 'WuGD Arial';
  src: url('/files/wugd_Regular.ttf') format('truetype'), url('/files/wugd_Regular.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'WuGD Arial';
  src: url('/files/wugd_Bold.ttf') format('truetype'), url('/files/wugd_Bold.otf') format('opentype');
  font-display: swap;
  font-weight: bold;
}

@font-face {
  font-family: 'WuGD Arial';
  src: url('/files/wugd_Italic.ttf') format('truetype'), url('/files/wugd_Italic.otf') format('opentype');
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: 'WuGD Arial';
  src: url('/files/wugd_BoldItalic.ttf') format('truetype'), url('/files/wugd_BoldItalic.otf') format('opentype');
  font-display: swap;
  font-weight: bold;
  font-style: italic;
}

/******** Global, non-dictionary-specific classes ***********/
:where(.wu-gd)
{
  font-family: 'WuGD Arial', sans-serif;
  font-size: inherit;
  font-weight: inherit;
}

/* Non-existent glyphs are shown with this font (right now IPA range) */
.wu-gd .gde
{
  font-family: 'WuGD Arial', sans-serif;
  font-weight: inherit;
  font-style: inherit;
}

/* Headword -- displayes the word being translated, comes just before the
   article */
.wu-gd .gdheadword
{
  color: #110088;
  font-size: 1.153846em;
}

/************* DSL dictionaries **************/
.wu-gd .dsl_opt .dsl_ex .dsl_lang,
.wu-gd .wu-sec .wu-ex .wu-lang,
.wu-gd .wu-sec.wu-ex .wu-lang,
.wu-gd .wu-sec .wu-ex.wu-lang,
.wu-gd .wu-sec.wu-ex.wu-lang
{
  font-style:italic;
  font-weight: inherit;
  color:#505050 !important;
}

.wu-gd .dsl_u,
.wu-gd u
{
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: underline;
}

.wu-gd .dsl_p,
.wu-gd .wu-p
{
  font-weight: inherit;
}

.wu-gd .dsl_t,
.wu-gd .wu-ipa
{
  font-family: 'WuGD Phonetic' !important;
  font-size: 1.307692em !important;
  font-weight: inherit;
  font-style:normal;
  line-height: 100%;
  margin-right: 2px;
  margin-left: 2px;
}

.wu-gd .dsl_t > .gde,
.wu-gd .wu-ipa > .gde
{
  font-family: 'WuGD Phonetic' !important;
  font-size: inherit !important;
}
